<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NugetIndex" value="https://api.nuget.org/v3/index.json" />
    <add key="SGS_SCSDigitalGLD_nuget_virtual" value="https://jfrog.inside.ups.com/artifactory/api/nuget/v3/SGS_SCSDigitalGLD_nuget_virtual" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="NugetIndex">
      <package pattern="*" />
    </packageSource>
    <packageSource key="SGS_SCSDigitalGLD_nuget_virtual">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Microsoft Visual Studio Offline Packages">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
